include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_nordigen *.css
recursive-include erpnext_nordigen *.csv
recursive-include erpnext_nordigen *.html
recursive-include erpnext_nordigen *.ico
recursive-include erpnext_nordigen *.js
recursive-include erpnext_nordigen *.json
recursive-include erpnext_nordigen *.md
recursive-include erpnext_nordigen *.png
recursive-include erpnext_nordigen *.py
recursive-include erpnext_nordigen *.svg
recursive-include erpnext_nordigen *.txt
recursive-exclude erpnext_nordigen *.pyc