include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_gocardless_bank *.css
recursive-include erpnext_gocardless_bank *.csv
recursive-include erpnext_gocardless_bank *.html
recursive-include erpnext_gocardless_bank *.ico
recursive-include erpnext_gocardless_bank *.js
recursive-include erpnext_gocardless_bank *.json
recursive-include erpnext_gocardless_bank *.md
recursive-include erpnext_gocardless_bank *.png
recursive-include erpnext_gocardless_bank *.py
recursive-include erpnext_gocardless_bank *.svg
recursive-include erpnext_gocardless_bank *.txt
recursive-exclude erpnext_gocardless_bank *.pyc