.gc-flex-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.gc-mh-300 {
    min-height: 300px;
}
.gc-table {
    table-layout: auto;
    margin-bottom: 0;
}
.gc-table th,
.gc-table td {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    width: auto;
}
.gc-table th[scope="col"],
.gc-table td[scope="row"] {
    width: 100%;
    text-align: left;
    font-weight: bold;
}
html[dir="rtl"] .gc-table th[scope="col"],
html[dir="rtl"] .gc-table td[scope="row"] {
    text-align: right;
}
.gc-action > .spinner-border {
    margin-right: 0.5rem;
}
html[dir="rtl"] .gc-action > .spinner-border {
    margin-left: 0.5rem;
}
.gc-link {
    margin-right: 0.5rem;
}
html[dir="rtl"] .gc-link {
    margin-left: 0.5rem;
}